.tooltip {
  font-weight: bold;
  padding: 0.5rem;
  border: 1px solid silver;
}

.hidden {
  display: none;
}
.body{ background-image: "minn.PNG";}
.svg {
  background-color: black;
	background-image: "minn.PNG";
}
.text {
	  z-index: -1; position:relative;
}
p {
	font-size: 18px;
}